*, ::after{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color:white;
}




/* HEADER */




.cabecalho{
    background-image: url(images/header-bg.png);
    background-position: center;
    background-size: 100% ;
    background-repeat: no-repeat;
}

nav > div{
    padding: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sidenav{
    display: flex;
}

.sidenav li{
    padding-right: 35px;
}





/* WELCOME */




.welcome{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.welcome img{
    max-width: 450px;
    max-height: 450px;
}

.welcome img::after{
    position: absolute;
    background-image: url(images/banner-right-dec.png);
    width: 378px;
    height: 378px;
    content: '';
    right: -45%;
    z-index: 1;
}

.welcome > div{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   gap: 30px;

   
}
.welcome div h1{
    margin: 0;
    color:gray;
    font-size: 22px;
}
.welcome div p{
    font-size: 70px;
    font-weight: bold;
}
.welcome button{
    margin-left: 0;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    color: white;
    background-image: linear-gradient(-145deg, rgba(219,138,222,1) 0%, rgba(246,191,159,1) 100%);
}